/******************************************
    File Name: alignement.css
/****************************************** */

div{
    float:center;
    
}

button{
    float: left;
    text-align: center;
    background-position: center;
}

input{
    text-align: center;
}

#title {
    color: white;
}

#tableau {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#tableau td, #tableau th {
    border: 1px solid rgb(226, 226, 226);
    padding: 8px;
}

#tableau tr:nth-child(even){background-color: #ffffff;}

#tableau tr:hover {background-color: #cacaca;}

#tableau th {
    padding-top: 11px;
    padding-bottom: 11px;
    text-align: center;
    background-color: hsl(147, 100%, 63%);
    color: white;
}

