/******************************************
    File Name: colors.css
/****************************************** */

body{
    background-color: rgb(231, 231, 231);
}

button{
    background-color: rgb(92, 92, 92);
    color: white;
}

input{
    color: rgb(0, 0, 0);
    background-color: rgb(196, 196, 196);
    float: right;
}
  