/******************************************
    File Name: alignement.css
/****************************************** */

div{
    float: right;
    
}

button{
    float: left;
    text-align: center;
    background-position: center;
}


input{
    text-align: center;
}
