/******************************************
    File Name: colors.css
/****************************************** */

body{
    background-color: rgb(70, 70, 70);
}

button{
    background-color: rgb(196, 196, 196);
}

input{
    color: rgb(0, 0, 0);
    background-color: rgb(196, 196, 196);
    float: right;
}
