/******************************************
    File Name: colors.css
/****************************************** */

body{
    background-color: rgb(70, 70, 70);
}

button{
    background-color: rgb(196, 196, 196);
}

input{
    color: rgb(0, 0, 0);
    background-color: rgb(196, 196, 196);
    float: right;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
}


.pagination a.active {
    background-color: dodgerblue;
    color: white;
}
  
.pagination a:hover:not(.active) {background-color: #ddd;}
  