<html>
    <head>
        <title>Répertoire à Héros</title>
        <link rel="stylesheet" href="colors.css">
        <link rel="stylesheet" href="alignement.css">
    </head>
    <body>
        <header>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Intelligence</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Strength</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Speed</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Durability</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Power</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Combat</button>
            <div class="serch-bar">
                <input type="text" style="width:125px; height: 30px;" class="form-control input-lg" placeholder="Search Heroes" />
            </div>
        </header>
        <br>
        <br>
        <br>
        <br>
        <br>
        <div class="title">
            <h1>Heroes</h1>
        </div>
        <div id="heroes">
            <table id="tableau">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Full Name</th>
                        <th colspan="6">Power stats</th>
                    </tr>
                </thead>
                <tbody id="elements">
                    <tr>
                        <td colspan="3"></td>
                        <td>Intelligence</td>
                        <td>Strength</td>
                        <td>Speed</td>
                        <td>Durability</td>
                        <td>Power</td>
                        <td>Combat</td>
                    </tr>
                </tbody>
            </table>
        </div>    
    </body>
</html>