<html>
    <head>
        <title>Répertoire à Héros</title>
        <link rel="stylesheet" href="colors.css">
        <link rel="stylesheet" href="alignement.css">
    </head>
    <body>
        <div class="serch-bar">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                <input type="text" class="form-control input-lg" placeholder="Search Heroes" />
                <span class="input-group-btn">
                <i class="fa fa-search" aria-hidden="true"></i>
                </span>
                </div>
            </div>
        </div>
    </body>
</html>