<html>
    <head>
        <title>Répertoire à Héros</title>
        <link rel="stylesheet" href="colors.css">
        <link rel="stylesheet" href="alignement.css">
    </head>
    <body>
        <header>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Intelligence</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Strength</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Speed</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Durability</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Power</button>
            <button type="button" style="width: 90px; height: 30px;" class="bouton">Combat</button>
            <div class="serch-bar">
                <input type="text" style="width:125px; height: 30px;" class="form-control input-lg" placeholder="Search Heroes" />
            </div>
        </header>
        <br>
        <br>
        <table>
            <thead>
                <tr>
                    <th colspan="8">The table header</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>loadData</td>
                </tr>
            </tbody>
        </table>
        <script>
            import {getName} from './get-them-all.js'
            
            const loadData = heroes => {
                console.log(heroes)
            }

            fetch('https://rawcdn.githack.com/akabab/superhero-api/0.2.0/api/all.json')
                .then((response) => response.json())
                .then(loadData)
            console.log(loadData);

        </script>     
    </body>
</html>