<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/home.css">
    <!-- <script src="../scripts/super-hero.js" defer></script> -->
    <script src="../scripts/search.js" defer></script>
    <title>Home</title>
</head>
<body>
    <div class="title">
        <h1>Heroes</h1>
    </div>
    <div class="search">
        <label for="searchInput">Search</label>
        <input type="text" name="searchInput" id="searchInput">
        <select name="searchSelect" id="searchSelect">
            <option value="name">Name</option>
            <option value="biography.fullName">Full name</option>
        </select>
    </div>
    <div id="heroes">
        <table id="tableau">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Full Name</th>
                    <th colspan="6">Power stats</th>
                </tr>
            </thead>
            <tbody id="elements">
                <tr>
                    <td colspan="3"></td>
                    <td>Intelligence</td>
                    <td>Strength</td>
                    <td>Speed</td>
                    <td>Durability</td>
                    <td>Power</td>
                    <td>Combat</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>